.answer-container{
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.answer-container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(119, 186, 231);
  }
  

.answer-container:hover input ~ .checkmark {
    background-color: rgb(74, 183, 195);
  }

  .answer-containerinput:checked ~ .checkmark {
    background-color: #166aae;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .answer-container :checked ~ .checkmark:after {
    display: block;
  }

  .answer-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid rgb(18, 15, 15);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  } 

  label {display:block;}
  textarea { 
      display:block;
    font-size: 16px;
    font-family: Calibri; 
    outline:0px none transparent;
    
    }
    textarea:focus{
        background:white;
        outline:0px none transparent;
    }